@import "tailwindcss";
/* Скрыть скроллбары для всех элементов */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE и Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}
body{
  background-color: rgb(19, 20, 21);
  color: #DFD8C8;
}
@theme {
  --color-darkpaper:rgb(19, 20, 21);
  --color-darkzinc: rgb(23, 25, 26);
  --color-creampaper: #DFD8C8;
  --color-mintpaper: #50D5AF;
  --font-inter: "Inter Tight", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider-track {
  display: flex;
  gap: 3rem;
  animation: scroll 25s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
} 

.defoultp{
  @apply text-lg font-semibold w-180 my-4
}

.label-input{
  @apply text-lg font-semibold w-180 my-4
}

.input-wrapper{
  @apply flex flex-col gap-2
}

.footerli{
  @apply flex gap-2 items-center font-semibold
}